/sentinel/x64/Debug
/.vs
/sentinel/x64
/sentinel/x64
/sentinel/x64/Release
/SERA-Data
/x64/Debug
sentinel/_smoke_clean.txt
sentinel/_smoke_err.txt
sentinel/_smoke_out.txt
sentinel/_smoke_opt.txt
sentinel/fa_fast_out.txt
sentinel/fa_mh_out.txt
sentinel/fa_pool_out.txt
sentinel/_train_out.txt
sentinel/_train_out2.txt
sentinel/_train_out3.txt
sentinel/_train_out4.txt
sentinel/_train_out5.txt
sentinel/_train_out6.txt
sentinel/_train_out7.txt
